<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:/Users/admin/Downloads/database/WSO2MobileWindows_DB</property>
        <!-- JDBC connection pool (use the built-in) -->
        <!--
        <property name="connection.pool_size">1</property>
         -->
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <mapping class="com.example.demo.ES_STORAGE.ApmApiConsumerApps"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmApp"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmApplication"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmAppDefaultVersion"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmAppHits"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmAppJavaPolicy"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmAppJavaPolicyMapping"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmAppLcEvent"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmAppUrlMapping"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmBusinessOwner"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmBusinessOwnerProperty"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmEntitlementPolicyPartial"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmExternalStores"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmFavouriteApps"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmOneTimeDownloadLink"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmPolicyGroup"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmPolicyGroupMapping"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmPolicyGrpPartialMapping"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmStoreFavouritePage"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmSubscriber"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmSubscription"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmTierPermissions"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmWorkflows"/>
        <mapping class="com.example.demo.ES_STORAGE.IdnOauthConsumerApps"/>
        <mapping class="com.example.demo.ES_STORAGE.Resource"/>
        <mapping class="com.example.demo.WSO2_SOCIAL_DB.SocialComments"/>
        <mapping class="com.example.demo.WSO2_SOCIAL_DB.SocialLikes"/>
        <mapping class="com.example.demo.WSO2_SOCIAL_DB.SocialRating"/>
        <mapping class="com.example.demo.WSO2_SOCIAL_DB.SocialRatingCache"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmAlertEmaillist"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmAlertEmaillistDetails"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmAlertTypes"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmAlertTypesValues"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmApi"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmApiComments"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmApiDefaultVersion"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmApiLcEvent"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmApiRatings"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmApiScopes"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmApiThrottlePolicy"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmApiUrlMapping"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmApplication"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmApplicationKeyMapping"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmApplicationRegistration"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmAppKeyDomainMapping"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmBlockConditions"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmConditionGroup"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmExternalStores"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmHeaderFieldCondition"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmIpCondition"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmJwtClaimCondition"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmPolicyApplication"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmPolicyGlobal"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmPolicyHardThrottling"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmPolicySubscription"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmQueryParameterCondition"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmSubscriber"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmSubscription"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmSubscriptionKeyMapping"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmThrottleTierPermissions"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmTierPermissions"/>
        <mapping class="com.example.demo.WSO2AM_DB.AmWorkflows"/>
        <mapping class="com.example.demo.WSO2AM_DB.FidoDeviceStore"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnAssociatedId"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnAuthSessionStore"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnBaseTable"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnClaim"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnClaimDialect"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnClaimMappedAttribute"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnClaimMapping"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnClaimProperty"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnIdentityMetaData"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnIdentityUserData"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnOauth1AAccessToken"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnOauth1ARequestToken"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnOauth2AccessToken"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnOauth2AccessTokenScope"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnOauth2AuthorizationCode"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnOauth2ResourceScope"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnOauth2Scope"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnOauthConsumerApps"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnOpenidAssociations"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnOpenidRememberMe"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnOpenidUserRps"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnPasswordHistoryData"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnRecoveryData"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnSaml2AssertionStore"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnScimGroup"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnStsStore"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnThriftSession"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdnUserAccountAssociation"/>
        <mapping class="com.example.demo.WSO2AM_DB.Idp"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdpAuthenticator"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdpAuthenticatorProperty"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdpClaim"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdpClaimMapping"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdpLocalClaim"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdpMetadata"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdpProvisioningConfig"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdpProvisioningEntity"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdpProvConfigProperty"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdpRole"/>
        <mapping class="com.example.demo.WSO2AM_DB.IdpRoleMapping"/>
        <mapping class="com.example.demo.WSO2AM_DB.SpApp"/>
        <mapping class="com.example.demo.WSO2AM_DB.SpAuthStep"/>
        <mapping class="com.example.demo.WSO2AM_DB.SpClaimMapping"/>
        <mapping class="com.example.demo.WSO2AM_DB.SpFederatedIdp"/>
        <mapping class="com.example.demo.WSO2AM_DB.SpInboundAuth"/>
        <mapping class="com.example.demo.WSO2AM_DB.SpMetadata"/>
        <mapping class="com.example.demo.WSO2AM_DB.SpProvisioningConnector"/>
        <mapping class="com.example.demo.WSO2AM_DB.SpReqPathAuthenticator"/>
        <mapping class="com.example.demo.WSO2AM_DB.SpRoleMapping"/>
        <mapping class="com.example.demo.WSO2AM_DB.WfBpsProfile"/>
        <mapping class="com.example.demo.WSO2AM_DB.WfRequest"/>
        <mapping class="com.example.demo.WSO2AM_DB.WfRequestEntityRelationship"/>
        <mapping class="com.example.demo.WSO2AM_DB.WfWorkflow"/>
        <mapping class="com.example.demo.WSO2AM_DB.WfWorkflowAssociation"/>
        <mapping class="com.example.demo.WSO2AM_DB.WfWorkflowConfigParam"/>
        <mapping class="com.example.demo.WSO2AM_DB.WfWorkflowRequestRelation"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmApiConsumerApps"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmApp"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmApplication"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmAppDefaultVersion"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmAppHits"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmAppJavaPolicy"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmAppJavaPolicyMapping"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmAppLcEvent"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmAppUrlMapping"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmBusinessOwner"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmBusinessOwnerProperty"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmEntitlementPolicyPartial"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmExternalStores"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmFavouriteApps"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmOneTimeDownloadLink"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmPolicyGroup"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmPolicyGroupMapping"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmPolicyGrpPartialMapping"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmStoreFavouritePage"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmSubscriber"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmSubscription"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmTierPermissions"/>
        <mapping class="com.example.demo.WSO2APPM_DB.ApmWorkflows"/>
        <mapping class="com.example.demo.WSO2APPM_DB.IdnOauthConsumerApps"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegAssociation"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegClusterLock"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegComment"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegContent"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegContentHistory"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegLog"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegPath"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegProperty"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegRating"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegResource"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegResourceComment"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegResourceHistory"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegResourceProperty"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegResourceRating"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegResourceTag"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegSnapshot"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.RegTag"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmAccountMapping"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmClaim"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmDialect"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmDomain"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmHybridRememberMe"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmHybridRole"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmHybridUserRole"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmModule"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmModuleActions"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmPermission"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmProfileConfig"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmRole"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmRolePermission"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmSharedUserRole"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmSystemRole"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmSystemUser"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmSystemUserRole"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmTenant"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmUser"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmUserAttribute"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmUserPermission"/>
        <mapping class="com.example.demo.WSO2CARBON_DB.UmUserRole"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmApplication"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmCommandOperation"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmConfigOperation"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmCriteria"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmDevice"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmDeviceApplicationMapping"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmDeviceCertificate"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmDeviceDetail"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmDeviceGroupMap"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmDeviceGroupPolicy"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmDeviceInfo"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmDeviceLocation"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmDeviceOperationResponse"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmDevicePolicy"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmDevicePolicyApplied"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmDeviceType"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmDeviceTypePolicy"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmEnrolment"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmEnrolmentOpMapping"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmGroup"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmNotification"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmOperation"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmPolicy"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmPolicyChangeMgt"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmPolicyComplianceFeatures"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmPolicyComplianceStatus"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmPolicyCriteria"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmPolicyCriteriaProperties"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmPolicyOperation"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmProfile"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmProfileFeatures"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmProfileOperation"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmRoleGroupMap"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmRolePolicy"/>
        <mapping class="com.example.demo.WSO2DM_DB.DmUserPolicy"/>
        <mapping class="com.example.demo.WSO2DM_DB.FeatureNonComplianceInfo"/>
        <mapping class="com.example.demo.WSO2DM_DB.PolicyComplianceInfo"/>
        <mapping class="com.example.demo.WSO2METRICS_DB.MetricCounter"/>
        <mapping class="com.example.demo.WSO2METRICS_DB.MetricGauge"/>
        <mapping class="com.example.demo.WSO2METRICS_DB.MetricHistogram"/>
        <mapping class="com.example.demo.WSO2METRICS_DB.MetricMeter"/>
        <mapping class="com.example.demo.WSO2METRICS_DB.MetricTimer"/>
        <mapping class="com.example.demo.WSO2MobileAndroid_DB.AdDevice"/>
        <mapping class="com.example.demo.WSO2MobileAndroid_DB.AdFeature"/>
        <mapping class="com.example.demo.WSO2MobileWindows_DB.WinDevice"/>
        <mapping class="com.example.demo.WSO2MobileWindows_DB.WinFeature"/>

        <!-- Drop and re-create the database schema on startup -->
        <!--
        <property name="hbm2ddl.auto">update</property>
        -->

    </session-factory>
</hibernate-configuration>