<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:/Users/admin/Downloads/database/ES_STORAGE</property>
        <!-- JDBC connection pool (use the built-in) -->
        <!--
        <property name="connection.pool_size">1</property>
         -->
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <mapping class="com.example.demo.ES_STORAGE.ApmApiConsumerApps"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmApp"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmApplication"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmAppDefaultVersion"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmAppHits"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmAppJavaPolicy"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmAppJavaPolicyMapping"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmAppLcEvent"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmAppUrlMapping"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmBusinessOwner"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmBusinessOwnerProperty"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmEntitlementPolicyPartial"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmExternalStores"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmFavouriteApps"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmOneTimeDownloadLink"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmPolicyGroup"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmPolicyGroupMapping"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmPolicyGrpPartialMapping"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmStoreFavouritePage"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmSubscriber"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmSubscription"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmTierPermissions"/>
        <mapping class="com.example.demo.ES_STORAGE.ApmWorkflows"/>
        <mapping class="com.example.demo.ES_STORAGE.IdnOauthConsumerApps"/>
        <mapping class="com.example.demo.ES_STORAGE.Resource"/>


        <!-- Drop and re-create the database schema on startup -->
        <!--
        <property name="hbm2ddl.auto">update</property>
        -->

    </session-factory>
</hibernate-configuration>